

.App {
  text-align: center;
  background-color: #282c34; /* Background color on the main container */
  color: white; /* Sets text color to white */
  min-height: 100vh; /* Ensures it covers at least the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  flex-grow: 1; /* Makes the header take up available space in the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TwoD-wrapper {
  padding: 20px;
  background-color: #182B49;
  height: 100vh;
  color: #fff;

  .intro-card {
    background-color: #fff;
    border-radius: 3px;
    color: #000;
    padding: 10px;
  }
}

.ThreeD-wrapper {
  // padding: 20px;
  // width: '80%';
  // height: 'auto';
  // background-color: #182B49;
  // color: #fff;

  // .intro-card {
  //   background-color: #fff;
  //   width: 600px;
  //   border-radius: 3px;
  //   color: #000;
  //   padding: 10px;
  // }
}
