.slidlab-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #FFFFFF;
}
.slidlab-content {
    display: flex;
    flex-direction: column;
}
.slidlab-title {
    font-weight: 500;
}